{{> navigation }}

<section id="beheren"></section>

<section id="form" style="display: none"></section>

<section id="imageUpload" style="display: none">
    <input type="file" name="image" id="image">
</section>