{{> navigation }}

<div class="container">
    <section id="beheren" class="list"></section>

    <section class="form" id="form" style="display: none"></section>

    <section id="imageUpload" style="display: none">
        <input type="file" name="image" id="image">
    </section>
</div>