{{> navigation }}

<section id="detail_blok"></section>

<section id="images"></section>

<section id="map" class="smallMap"></section>

<section id="chatbox">
    <textarea id="bericht" placeholder="je bericht"></textarea>
    <button id="sendBtn">Verstuur</button>

    {{!-- Onder detailpagina zetten, meer zoals een comment, zal overzichterlijker zijn --}}
</section>

<section id="share">Share</section>