{{> navigation }}

<div class="container">
    <section id="images"></section>

    <section id="detail_blok"></section>

    <section id="map" class="smallMap">
        <h2>Locatie</h2>
    </section>

    <section id="chatbox">
        <textarea id="bericht" placeholder="je bericht"></textarea>
        <button class="middleRedBtn" id="sendBtn">Verstuur</button>

        {{!-- Onder detailpagina zetten, meer zoals een comment, zal overzichterlijker zijn --}}
    </section>

    <section class="facebookBtn" id="share">Share on facebook</section>
</div>