{{> navigation }}

<section id="detail_blok"></section>

<section id="images"></section>

<section id="map"></section>

<section id="chatbox">
    <Label>Stuur een bericht</Label>
    <textarea id="bericht" placeholder="je bericht"></textarea>
    <button id="sendBtn">Verstuur</button>

    {{!-- Onder detailpagina zetten, meer zoals een comment, zal overzichterlijker zijn --}}
</section>