{{!-- {{> header }} --}}
<div class="container">

  <img src="../../src/images/logo_Rently.svg" alt="Rently Logo">

  <div id="startScreen">
    <div class="bigRedBtn">
      <a href="#/login">sign in</a>
    </div>

    <div class="bigGreyBtn">
      <a href="#/register">sign up</a>
    </div>
  </div>
</div>
{{!-- {{> footer }} --}}