{{!-- {{> header }} --}}
<div id="startScreen">
  <div>
    <a href="#/login">Ik ben al gebruiker</a>
  </div>

  <div>
    <a href="#/register">Ik ben een nieuwe gebruiker</a>
  </div>
</div>
{{!-- {{> footer }} --}}