{{> navigation }}

<div>
   <select id="typeGebouw">
        <option value="kot">kot</option>
        <option value="loft">loft</option>
        <option value="studio">studio</option>
        <option value="appartement">appartement</option>
    </select>
    <button id="filterGebouw">Filter Gebouw</button>

    <input id="minPrijs" type="number" placeholder="min prijs">
	<input id="maxPrijs" type="number" placeholder="max prijs">
    <button id="filterPrijs">Filter Prijs</button>

    <input id="minOpp" type="number" placeholder="minimum oppervlakte">
    <button id="filterOpp">Filter Oppervlakte</button>

    <button id="resetFilter">Reset filters</button>
</div>

<div id="content"></div>
<div id="image"></div>