<div class="loginForm">
    <div>
        <label>Email</label>
        <input id="email" type="email" placeholder="JohnDoe@domein.be">
    </div>

    <div>
        <label>Wachtwoord</label>
        <input id="wachtwoord" type="password" placeholder="secret">
    </div>

    <div>
        <button id="btnLogin">login</button><br>
        <a href="#/register">Nieuwe gebruiker</a>
    </div>

    <p id="foutMelding"></p>
</div>