<div class="container form verticalAlignParent">
    <div class="verticalAlignChild">
        <h2>sign in</h2>

        <div>
            <input id="email" type="email" placeholder="JohnDoe@domein.be">
        </div>

        <div>
            <input id="wachtwoord" type="password" placeholder="wachtwoord">
        </div>

        <div>
            <button class="bigRedBtn" id="btnLogin">sign in</button><br>
            <a href="#/register">Nieuwe gebruiker</a>
            <p id="foutMelding"></p>
        </div>
    </div>
</div>