<div>
    <label>Email</label>
    <input id="email" type="email" placeholder="JohnDoe@domein.be">

    <label>Wachtwoord</label>
    <input id="wachtwoord" type="password" placeholder="secret">

    <input id="btnLogin" type="submit" value="login">
    <a href="#/register">Nieuwe gebruiker</a>

    <p id="foutMelding"></p>
</div>