{{> navigation }}

<div class="chatSection container">
    
    <div id="fullConversation">
        <section id="firstConversation"></section>
        <section id="conversation"></section>
    </div>
        <textarea id="newMessage" placeholder="nieuw bericht"></textarea>
        <button class="middleRedBtn" id="sendNewMessageBtn">verstuur</button>
</div>