{{> navigation }}

<div class="chatSection">
    
    <div id="fullConversation">
        <section id="firstConversation"></section>
        <section id="conversation"></section>
    </div>
        <textarea id="newMessage" placeholder="nieuw bericht"></textarea>
        <input id="sendNewMessageBtn" type="submit" value="verstuur">

</div>