{{> navigation }}

<div class="chatSection">
    <section id="firstConversation"></section>
    <section id="conversation"></section>
    
    <textarea id="newMessage" placeholder="nieuw bericht"></textarea>
    <input id="sendNewMessageBtn" type="submit" value="verstuur">
</div>