<div>
    <form>
        <label>Voornaam</label>
        <input id="voornaam" type="text" placeholder="John">

        <label>Achternaam</label>
        <input id="achternaam" type="text" placeholder="Doe">

        <label>Straatnaam</label>
        <input id="straatnaam" type="text" placeholder="Nieuwstraat">

        <label>Huisnummer</label>
        <input id="huisnummer" type="number" placeholder="1">

        <label>Postcode</label>
        <input id="postcode" type="number" placeholder="1000">

        <label>Stad</label>
        <input id="stad" type="text" placeholder="Brussel">

        <label>Email</label>
        <input id="email" type="email" placeholder="JohnDoe@domein.be">

        <label>Telefoonnummer</label>
        <input id="telefoonnummer" type="number" value="+32">

        <label>Wachtwoord</label>
        <input id="wachtwoord" type="password" placeholder="secret">

        <label>Herhaal wachtwoord</label>
        <input id="wachtwoordHerhaal" type="password" placeholder="secret">

        <input id="student" type="radio" name="type" value="Student">
        <label for="Student">Student</label>

        <input id="kotbaas" type="radio" name="type" value="Kotbaas">
        <label for="Kotbaas">Kotbaas</label>

        <input id="campus" type="text" value="test" style="display:none">

        <input id="register" type="submit" value="register">
    </form>

    <p id="foutMelding"></p>

    <a href="#/login">Ik heb al een account</a>
</div>