<div class="container form">

    <h2>sign up</h2>

    <div>
        <input id="voornaam" type="text" placeholder="voornaam">
    </div>

    <div>
        <input id="achternaam" type="text" placeholder="achternaam">
    </div>

    <div>
        <input id="straatnaam" type="text" placeholder="straatnaam">
    </div>

    <div>
        <input id="huisnummer" type="number" placeholder="huisnummer">
    </div>

    <div>
        <input id="postcode" type="number" placeholder="postcode">
    </div>

    <div>
        <input id="stad" type="text" placeholder="stad">
    </div>

    <div>
        <input id="email" type="email" placeholder="JohnDoe@domein.be">
    </div>

    <div>
        <input id="telefoonnummer" type="number" placeholder="telefoonnummer">
    </div>

    <div>
        <input id="wachtwoord" type="password" placeholder="wachtwoord">
    </div>

    <div>
        <input id="wachtwoordHerhaal" type="password" placeholder="herhaal wachtwoord">
    </div>

    <div>
        <input id="student" type="radio" name="type" value="Student">
        <label for="Student">Student</label>
        <input id="kotbaas" type="radio" name="type" value="Kotbaas">
        <label for="Kotbaas">Kotbaas</label>
    </div>

    <div>
        <select id="campus" style="display:none">
            <option value="">Kies campus</option>
            <option value="St. Pietersnieuwstraat 33, 9000 Gent">UGent</option>
            <option value="Geraard de Duivelstraat 5, 9000 Gent">HoGent</option>
            <option value="Voetweg 66, 9000 Gent">Artevelde Hogeschool</option>
            <option value="Gebroeders de Smetstraat 1, 9000 Gent">Odisee</option>
            <option value="Alexianenplein 1, 9000 Gent">Luca, School of Arts</option>
        </select>
    </div>

    <div>
        <button class="bigRedBtn" id="register">registreer</button><br>
        <a href="#/login">Ik heb al een account</a>
        <p id="foutMelding"></p>
    </div>
</div>