{{> navigation }}

<section>
    <div id="div" draggable="true"></div>
    <h2 id="typeAdres"></h2>
    <p id="oppVerdiep"></p>
    <p id="geld"></p>
    <button id="likeBtn"><img src="../../images/like.svg"></button>
    <button id="dislikeBtn" id="dislike"><img src="../images/kruisje.svg"></button><br>
    <p id="kotenFout"></p>
</section>

<section id="buttons">
        <h3 id="likes">LIKES</h3>
        <ul id="likeList">
        </ul>
        <h3 id="dislikes">DISLIKES</h3>
        <ul id="dislikeList"></ul>
</section>