@import "../../node_modules/mapbox-gl/dist/mapbox-gl.css"
// Generic styling
body
    font-size: 12px
    margin: 0 auto
    background: #fefefe
    height: 100vh
    #app
        height: 100%
        position: relative

.fullMap
    height: 100vh
    width: 100%


// general
@import "./colors"
@import "./page"
@import "./footer"

// pages
@import "./about"
@import "./overview"
@import "./tinder"
@import "./login"
@import "./addkot"
@import "./editKot"
@import "./detailPage"
@import "./favorits" //fav & berichtenoverzicht
@import "./messages"


// attributes
@import "./form"