<section class="navigation">
    <nav>
        <a href="?#/kotenOverzicht">Startpagina</a>
        <a href="#/addKot">Voeg een kot toe</a>
        <a href="#/beherenKot">Beheer uw kot</a>
        <a href="?#/tinder">Tinder spel</a>
        <a href="#/berichtenOverzicht">Berichten</a>
        <a href="#/kaart">Kaart</a>
        <a href="#/logout">Logout</a>
    </nav>
</section>