<section class="navigation">
    
    <img class="nav open" src="../../src/images/openNav.svg" alt="Rently Logo">
    <img class="nav close" src="../../src/images/closeNav.svg" alt="Rently Logo">

    <nav id="nav">
        <a href="?#/kotenOverzicht">Startpagina</a>
        <a id="addKot" href="#/addKot">Voeg een kot toe</a>
        <a id="beheerKot" href="#/beherenKot">Beheer uw kot</a>
        <a href="?#/tinder">Tinder spel</a>
        <a href="#/berichtenOverzicht">Berichten</a>
        <a id="studentNav" href="#/favorieten">Favorieten</a>
        <a href="#/kaart">Kaart</a>
        <a href="#/logout">Logout</a>
    </nav>

    <img class="logo" src="../../src/images/logo_Rently.svg" alt="Rently Logo">
</section>
